/* Media Queries ****************************************************************************************/

@media screen and (max-width: 1045px){
    .serviceContent{        
        justify-content: center;        
    }    
    .section5{        
        display: flex; 
        flex-direction: column; 
        align-items: center;       
    }
    .boxcalendar2,
    .boxcalendar {
        width: 50vw;    
    }
    .boxmission3,
    .boxmission2{
        width: 100%;          
    }    
    .boxmission3{          
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
    .boxmission3 h3{       
        text-align: center;
    }
}
@media screen and (max-width: 1030px){    
    header ul li{
        font-size: 0.8em;
    }
    .logo{
        margin-left: 20px;
    }   
    .box_newsletter input[type=email]{
        width: 50vw;       
    }
    .box_newsletter input[type=submit]{
        width: 50vw;
    }
}
@media screen and (max-width: 1015px){
    .contanttxt{
        display: flex; 
        flex-direction: column;            
        align-items: center;         
        text-align: left;
    }
    .adopting{
        width: 90%;
    }
    .adopting:first-child{
        margin-bottom: 50px;
    }
    .btn002{
        margin-top: 0;
    }
    .txtbanner{          
        left: 0;        
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
@media screen and (max-width: 958px){
    .menu-toggle{
        display: block;           
    } 
    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;        
        width: 100vw;
        height: 100vh;
        background-color:var(--btn-color1);        
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-section nav{
        display: none;
    }
    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 26px;
    }

    .menu-section.on .one {
        transform: rotate(45deg) translate(6px, 8px);
    }

    .menu-section.on .two {
        opacity: 0;
    }

    .menu-section.on .three {
        transform: rotate(-45deg) translate(5px, -7px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    } 
    .menu-section.on ul li{
        font-size: 1.2em;
    }   
    nav img{
        display: none;
    } 
    .contanttxt{        
        flex-direction: column;
        align-items: center;             
        margin-top: 30px; 
        text-align: center;            
    } 
    .adopting{
        width: 100%;
    }
    .adopting:first-child{
        margin-bottom: 80px;
    }    
    .iconsocialmedia{       
        width: 90%;       
    }
}
@media screen and (max-width: 768px){    
    .txtbanner{  
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 80%;   
        top: 120px;                  
    }
    h1{
        font-size: 2.5em;
        text-align: center;        
    }
    p.pbanner{       
        text-align: center;        
    }
}
@media screen and (max-width: 768px) and (min-width:415px){
    h1{
        font-size: 4em;        
    }
    p.pbanner{                
        margin-top: 20px;
    }
    button.btn02,
    button.btn01{
    width: 400px;   
    }
    .boxAnimals{       
        width: 60vw;            
    }
    .serviceBox{
        width: 80%;
    }
    .images{
        width: 70vw;
        height: auto;
        text-align: left; 
        padding-top: 40px;      
    }
    .boximage img{
        width: 70vw;
        height: 40vh;        
    }
     /*PET ADOPTION NOTES **************************/
     .adoptionnotes_txt{       
        flex-direction: column;       
        text-align: center;        
        align-items: center;
    }   
    .adopting_txt{
        width: 80vw;
    }
     /*JOIN OUR NEWSLETTER **************************/
     .newsletter{       
        height: 100vh;
    }   
     .box_newsletter{       
        padding-top: 100px;       
    }    
    .box_newsletter input[type=email]{
        width: 90vw;       
    }       
    .box_newsletter input[type=submit]{
        width: 90vw;        
    }
    .iconsocialmedia{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        /* min-width: 400px; */
        margin: 0 auto;
        flex-wrap: wrap;
    }   
     /*FOOTER ***********************************/
    .section09{        
        padding: 20px;        
        flex-direction: column-reverse;       
    }
    .footersocialmedia{       
        margin: 20px 0;
    }     
    footer{
        height: auto;
    }
}
/*/////////////////////////// TELA DE 655PX /////////////////////////////////*/
@media screen and (max-width: 655px){
    .boxAnimals{          
        top: 135px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
                       
    }    
    .boxcalendar2,
    .boxcalendar {
        width: 400px;    
    }    
}       
/*/////////////////////////// TELA DE 414PX /////////////////////////////////*/
@media screen and (max-width: 414px){
    .content{
        width: 90vw;
    }
    /*HEADER ********************************/
    header{        
        padding: 25px 40px;       
    }
    .logo{
        font-size: 1em; 
        margin-left: 0;       
    }      
   
     /*BANNER **************************/
    .banner h3{
        font-size: 1em;
    }
    h1{
        font-size: 2em;
    }
    p.pbanner{
        font-size: 1em;        
        line-height: 25px;
        margin-top: 20px;
    }
     /*SAVE AN ANIMAL **************************/
    .contanttxt{       
        margin-top: 30px; 
        text-align: center;      
    }   
    h2.title{       
        font-size: 1.7em;
    }
    .adopting:first-child{
        margin-bottom: 80px;
    }
     /*FEATUREDS CATS AND DOGS **************************/
    .boxAnimals{
        width: 90vw;
        top: 50px;        
    }
    .boxAnimals h3{
        text-align: center;
        font-size: 1em;
    }    
    .featured{       
        height: 900px;
    }
    /*OURS SERVICES **************************/
    .section3{
        padding: 0 0 50px;
    }  
     /*OURS MISSION **************************/
     .boxmission2,
     .boxmission{       
        padding: 40px 10px;       
    } 
    .boxcalendar2,
    .boxcalendar {
        width: 80vw;
    }
    .boxcalendar2 h4,
    .boxcalendar h4{
        font-size: 0.7em;
    }
    .boxmission3{                 
        padding: 50px 0 0 0;        
    }
    .boxmission3 p{        
        font-size: 0.7em;
    }
    .section5{        
        top: none;        
    } 
     /*FEATURES PETS **************************/
    .boximage img,
    .images{
        width: 80vw;
        height: auto;
    }   
    .images h3 {        
        margin: 0;    
    }
    .images p:last-child{
       margin-top: 0;
    }
    .pets .section06 {
        text-align: center;
    }
    .section06 button{        
        margin: 0px 0 180px 0;       
    }  
     /*PET ADOPTION NOTES **************************/
    .adoptionnotes_txt{       
        flex-direction: column;       
        text-align: center;        
        align-items: center;
    }   
    .adopting_txt{
        width: 80vw;
    }
     /*JOIN OUR NEWSLETTER **************************/
     .newsletter{       
        height: 100vh;
    }   
     .box_newsletter{       
        padding-top: 100px;       
    }    
    .box_newsletter input[type=email]{
        width: 90vw;       
    }       
    .box_newsletter input[type=submit]{
        width: 90vw;        
    }
    .iconsocialmedia{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        /* min-width: 400px; */
        margin: 0 auto;
        flex-wrap: wrap;
    }   
     /*FOOTER ***********************************/
    .section09{        
        padding: 20px;        
        flex-direction: column-reverse;       
    }
    .footersocialmedia{       
        margin: 20px 0;
    }     
    footer{
        height: auto;
    }
}
/*/////////////////////////// TELA DE 375PX /////////////////////////////////*/
@media screen and (max-width: 375px){
    /*BANNER **************************/
    .banner h3{
        font-size: 1em;
    }
    h1{
        font-size: 2em;
    }
    p.pbanner{
        font-size: 0.9em;        
        line-height: 25px;
        margin-top: 30px;
    }
    
}

