@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --btn-color1: #DAAB31;
    --btn-color1-hover: #A37F25;
    --orange: #DA8C31;
    --white: #fff;
    --black: #000;
    --cinzabtn: #878787;
    --cinzahover: #5c5b5b;
    --bgcpreto: #1C1C1C;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;     
}
.content{
    width: 70vw;
    margin: auto;        
}
/*Header *************************************************************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--white);
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;  
    z-index: 999;  
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.404);
}
nav{
    display: flex;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
header ul li{
    position: relative;
    list-style: none;
}
header a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: var(--black);
    font-size: 0.9em;
    font-weight:500;
    transition: 0.6s;
}
header a>li{
    height: 25px;
    
}
header a>li:hover{     
    transition:none;
    border-bottom: 2px solid var(--black);
}
.logo{
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
}
header.sticky{
    padding: 10px 40px;    
}
.menu-opener{
    display: none;
    width: 20px;    
}
/*Banner ************************************************************************************************/
.banner{
    width: 100%; 
    height:120vh;  
}
.banner img{   
    position: relative;
    top: 0;
    left: 0;    
    width: 100%; 
    height:120vh;    
    object-fit: cover;    
}
.txtbanner{
    position: absolute;  
    padding: 20px 0; 
    top: 120px;
    left: 14vw; 
    width: 500px;
    height: auto;     
    z-index: 998;   
}
h1{
    font-size: 4em;
    font-weight: 900;       
    background-color: rgba(255, 255, 255, 0.397);
    text-transform: uppercase;
    letter-spacing: 4px;
}
p.pbanner{
    font-size: 1.1em;
    font-weight: 600;
    line-height: 32px;
}
button.btn02,
button.btn01{
    width: 218px;
    height: 50px;
    border:none;
    border-radius: 50px;
    color: var(--white);
    font-size: 1.1em;
    cursor: pointer;  
    margin-top: 25px;  
}
button.btn01{
    background-color: var(--btn-color1);
}
button.btn01:hover{
    background-color: var(--btn-color1-hover);
}
button.btn02{
    background-color: var(--cinzabtn);
}
button.btn02:hover{
    background-color: var(--cinzahover);
}

/*saveAnimal************************************************************************************************/
.saveAnimal{
    position: relative;
    width: 100%;  
    height: 100%;    
    text-align: center;
    z-index: 997;
    background-color:var(--white);
}
.saveAnimal::after{
    content:'';
    position: absolute;
    background: url(../assets/Vector01.svg) no-repeat;  
    overflow: hidden;      
    top:-317px;
    left: 0;    
    width: 100%;
    height: 100%; 
    z-index: 998;    
}
h3.subtitle{
    color: #797979;
    font-weight: 600;
    font-size: 1em;
}
h2.title{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
}
.section01{
    padding-top: 30px;   
}
.contanttxt{
    display: flex; 
    justify-content: space-between;   
    margin-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    text-align: left;
}
.adopting{
    width: 48%;
}
.adopting h4{
    font-size: 1.3em;   
}
.adopting p{
    font-size: 1em;
    margin: 10px 0 20px 0;
    font-weight: 500;
    line-height: 30px;
    color: var(--cinzahover);
}
.adopting button{
    border:none;
    border-radius: 50px;
    background-color: var(--btn-color1);
    width: 100px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8em;
    color: var(--white);
    cursor: pointer;
}
.adopting button:hover{
    background-color: var(--btn-color1-hover);
}
.btn002{
    margin-top: 32px;
}

/*Featured *************************************************/
.featured{ 
    position: relative;   
    width: 100%;
    height: 170vh;
}
.featured img{   
    position: absolute;    
    top: 0;
    left: 0;    
    width: 100%;  
    height: 170vh;       
    object-fit: cover;          
}
.boxAnimals{
    position: relative;  
    top: 135px;
    left: 0;
    width: 40vw;  
    min-width: 270px;   
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 30px;  
    padding: 40px 30px;    
}
.box{  
    display: flex; 
    align-items: center;    
    margin-bottom: 10px;  
}
.img img{
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 15px;
    object-fit: cover;
}
.boxAnimals h3{
    font-size: 1.3em; 
    font-weight: 500; 
    margin-bottom: 20px; 
}
.boxAnimals h4{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 27px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.boxAnimals p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 27px;    
    color: var(--cinzabtn);
}
/*Service*****************************************************************/
.service{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--bgcpreto);
    text-align: center;
    z-index: 997;
}
.service::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 264px; 
    background: url(../assets/vector02.svg) no-repeat; 
    overflow: hidden;            
    top:-264px;
    left: 0;    
    z-index: 998;    
}
.section3{    
    padding: 30px;   
}
.white{
    color: var(--white);
}
.serviceContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;    
}
.serviceContent:last-child{
    margin-bottom: 200px;
}
.serviceBox{
    width: 45%; 
    min-width: 300px;
    color: var(--white);       
    margin-top: 80px; 
    padding: 10px;  
}
.serviceBox h2{
    font-size: 1.3em;
    margin-top: 10px;
}
.serviceBox p{
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
    line-height: 27px;
}
/*Ourmission************************************************************************/
.ourMission{
    width: 100%;
    height: auto;
}
.section4{
    position: relative;
}
.boxmission{    
    position: relative;
    top: -150px;
    left: 0;
    width: 100%;
    background-color:var(--btn-color1);
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    z-index: 998;
}
.boxmission p{
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
    color:var(--white);
    font-weight: 300;
}
.boxmission h2{
    margin-bottom: 20px;
}
.section5{
    position: relative;
    top: -100px;
    display: flex;  
    height: auto;   
}
.boxmission2{
    width: 35vw;  
    padding: 50px;  
    border-radius: 10px;
    background-color: var(--orange);
    text-align: center;
    color: var(--white);
}
.boxmission2 h3{
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 400;
}
.boxmission2 p{
    font-weight: 300;
    line-height: 30px;
}
.boxmission2 button{
    width: 230px;
    height: 55px;
    border: none;
    color: var(--white);
    border-radius: 30px;
    background-color: #4b2c0a;
    margin-top: 20px;
    cursor: pointer;
}
.boxmission2 button:hover{
    background-color: #382007;
}
.boxmission3{
    width: 35vw;
    padding: 50px;
}
.boxmission3:first-child{
    margin-bottom: 30px;   
}
.boxmission3 h3{
    margin-bottom: 20px;
    font-size: 1.3em;
}
.boxmission3 p{
    line-height: 25px;
    margin-left: 45px;
    font-size: 0.8em;    
}
.boxmission3 button{
    width: 200px;   
    height: 55px;
    border: none;
    color: var(--white);
    border-radius: 30px;
    background-color: var(--btn-color1);
    margin-top: 20px;
    cursor: pointer;
}
.boxmission3 button:hover{
    background-color: var(--btn-color1-hover);
}
.boxcalendar2,
.boxcalendar {
    width: 350px;
}
.boxcalendar2 h4::before,
.boxcalendar h4::before{
    position: relative;
    top: 7px;
    content: url(../assets/icon-calendar.png);
    padding: 0 15px 0 0;    
}
.boxcalendar2{
    margin-top: 15px;
}
/*Features Pets **************************************************************************************/
.pets{   
    width: 100%;
    height: auto;   
}
.pets .section06{   
    text-align: center;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.images{
    width: 250px;
    height: 400px;
    text-align: left;
    margin: 20px;
}
.images h3{
    font-size: 1.2em;
    margin: 10px 0;
}
.images p{
    font-size: 0.9em;
}
.images p:last-child{
    margin-top: 7px;
}
.boximage img{
    width: 280px;
    height: 280px;    
    object-fit: cover;
    border-radius: 10px;
}
.pets h2{
    margin-bottom: 30px;
}
.section06 button{
    position: relative;
    width: 200px;   
    height: 55px;
    border: none;
    color: var(--white);
    border-radius: 30px;
    background-color: var(--btn-color1);
    margin: 40px 0 100px 0;
    cursor: pointer;
    z-index: 996;
}
.section06 button:hover{
    background-color: var(--btn-color1-hover);
}
/*Pet Adoption Notes **********************************************************************************/
.adoptionnotes{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px;    
    background-color:var(--btn-color1);
}
.adoptionnotes::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 264px; 
    background: url(../assets/Vector03.svg) no-repeat; 
    overflow: hidden;            
    top:-264px;
    left: 0;    
    z-index: 995;     
}
.adoptionnotes_txt{
    display: flex;
    margin-top: 40px;   
    text-align: left;
    color: var(--white);
    justify-content: space-between;
}
.adopting_txt{
    width: 46%;
}
.adopting_txt p{
    font-size: 1em;
    margin: 10px 0 20px 0;
    font-weight: 300;
    line-height: 30px;    
}
.adopting_txt button{
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background: var(--btn-color1-hover);
    color: var(--white);
    cursor: pointer;
    margin-bottom: 70px;
}
.adopting_txt button:hover{
    background-color:#6A4111;    
}
/*Join Our Newsletter ****************************************************************************/
.newsletter{ 
    position: relative; 
    top: 0;
    left: 0;  
    width: 100%;
    height: 120vh;
    z-index: 996;
}
.newsletter::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 316.5px; 
    background: url(../assets/Vector04.svg) no-repeat; 
    overflow: hidden;            
    top:-1px;
    left: 0;    
    z-index: 995;     
}
.newsletter img{   
    position: absolute;    
    top: 0;
    left: 0;    
    width: 100%;  
    height: 100%;       
    object-fit: cover;          
}
.box_newsletter{
    width: 100%;
    height: auto;   
    position: relative;
    z-index: 999;
    text-align: center;
    padding-top: 200px;
    color: var(--white);
}
.box_newsletter form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.box_newsletter input[type=email]{
    width: 30vw;
    height: 6vh;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 10px;    
}
.box_newsletter input[type=email]::placeholder{    
    opacity: 1;
    color: var(--white);
    font-size: 1.1em;
    font-weight: 300;
}
.box_newsletter input[type=email]:focus{
   outline: 2px solid var(--btn-color1);
}
.box_newsletter input[type=submit]{
    width: 30vw;
    height: 6vh; 
    border: none;
    border-radius: 30px;   
    padding: 10px;  
    background-color:var(--btn-color1);  
    margin-top: 30px;
    color: var(--white); 
    cursor: pointer; 
    margin-bottom: 100px;
}
.box_newsletter input[type=submit]:hover{
    background-color: var(--btn-color1-hover);
}
.iconsocialmedia{
    display: flex;
    justify-content: space-around;    
    width: 50%;     
    margin: 0 auto;
}
.iconsocialmedia .sm{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #c4c4c471;
    border-radius: 30px;
    cursor: pointer;    
}
.iconsocialmedia .sm:hover{
    background-color: #086d7a94;
}
.iconsocialmedia .sm img{
    position: absolute;
    width: 32px;
    height:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;       
}
.iconsocialmedia .sm img:last-child{
    width: auto;
    height: 32px;
}
/*Footer ***********************************************************************/
footer{    
    background-color: var(--bgcpreto);
    width: 100%;
    height: auto;
}
.section09{    
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: #797979;
    font-weight: 200; 
    font-size: 0.8em;  
}
.section09 span{
    font-weight: 500;
}
.footersocialmedia{
    display: flex;
    width: auto;
    height: auto; 
    cursor: pointer;           
}
.footersocialmedia img{
    width: 30px;
    height:auto;
}   
.footersocialmedia div{    
    margin-left: 20px;
    opacity: 0.3;   
}
.footersocialmedia div:hover{
    opacity: 0.7;
}
